/* General */

* {
  padding: 0;
  margin: 0;
}

.contenedor {
  width: 500px;
  margin: 0 auto;
}

body {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  background-color: pink;
}

/* Header */
h1 {
  margin-bottom: 50px;
}

/* paragraph typing style */

.album-n {
  margin-bottom: 10px;
  margin-top: 10px;
  display: inline-block;
}

.typing-bar {
  background-color: transparent;
}

/* continue botton */

.continue {
  margin-top: 25px;
  padding: 10px;
  color: black;
  background-color: white;
}

/* continue link styling */

.continue:link,
.continue:visited {
  color: black;
  background-color: white;
}

.continue:hover,
.continue:active {
  background-color: black;
  color: white;
}

/* 2nd seq */

/* album title */

.album-title {
  font-size: 24px;
  display: inline-block;
}

/* Album info styling box */

.album-info-box {
  margin: 50px auto;
}

/* songs label */

#song-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* song box */

.song-rating-slider {
  width: 40px;
  text-align: center;
  margin-top: 10px;
  background-color: transparent;
}

/* 
submit button */

.subimit-rate {
  margin-top: 25px;
  font-size: 16px;
  padding: 10px;
}

.submit-rate:link,
.submit-rate:visited {
  background-color: black;
  color: white;
}

.submit-rate:hover,
.submit-rate:active {
  background-color: black;
  color: white;
}

/* final rating style */

#final-rating {
  margin-top: 25px;
}

/* error */

.error-text {
  color: red;
  font-size: 14px;
  margin-top: 25px;
}

.hidden {
  display: none;
}
